<h1>Listing articles</h1>

<%= link_to 'Novo evento', events_new_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.short_description %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
    </tr>
  <% end %>
</table>
